*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
body{
    position: relative;
    overflow: hidden;
}
#main{
    width: 100%;
    height : 100%;
    background-color: black;
}
#nav{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: gray;

}
a{
    color: white;
}
button{
    padding: 15px 25px;
    background-color: red;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}