*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
body{
    padding: 200px;
}
button{
    height: 30px;
    width: 100px;
    font-size: 20px;
    
}
.a{
    height: 800px;
    width: 800px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.b{
    height: 600px;
    width: 600px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c{
    height: 400px;
    width: 400px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
