*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
#main{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#abcd{
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)2s;
    height:400px;
    width: 400px;
    background-color: red;
}