*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
body{
    position: relative;
    overflow: hidden;
    padding: 30px;
}
ul{
    font-size: 30px;
}
.lt{
    text-decoration: line-through;}