*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#btn{
    padding: 12px 22px;
    background-color: rgb(48, 145, 113);
    color: white;
    border-radius: 5px;
    font-weight: 600;
}
#main #btn:hover{
    background-color: rgb(53, 126, 102);
}