*{
    margin: 0;
    padding: 0;
    font-family: "gilroy";
    box-sizing: border-box;

}
html,body{
    width : 100%;
    height: 100%;

}
#main{
    padding: 50px;
   
    width: 100%;
    height: 100%;
}

input{
    display: block;
}
.card{
    max-width: 300px;
    margin-top : 40px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid black;
}
.profile{
    height: 50px;
    width:  50px;
    background-color: red;
    border-radius: 50%;
    margin-bottom: 10px;
    overflow: hidden;

}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h5{
    margin-top: 5px;
}
.card p{
    font-size: 12px;
    margin-top: 10px;
}